<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [1]:
# What is your name! print your name! 
# Only use one print function

print('Osama')

Osama

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [3]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh=7
z=6
rohan=5
longitude=4

In [4]:
# print required variable
if rohan==5:
    print(rohan)
else:
    print('Not Matched')
# output - 5

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [5]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
ur_age=21
ur_weight=50.6
ur_first_name='Mukesh'
ur_last_name='Manral'

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----| 
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [10]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [11]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(ur_age,ur_weight,ur_first_name,ur_last_name)

21 50.6 Mukesh Manral

In [19]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh' 
ur_first_name ='Mukesh'
ur_last_name='Mukesh' 
# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name 

TrueOrFalse=ur_first_name==ur_last_name
print(TrueOrFalse)

True

In [20]:
# define a variable name "x" and assign value 777 and print it
x=777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks 

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [21]:
# Initialize variables [x,y,z,zz] with values 
## x as 7 =>int ,
## y as 77 =>int, 
## z as 77.7 => float, 
## zz as 'Hi' => string
x=7
y=77
z==77.7
zz='Hi'

# **`Arithmetic Operators`**

In [22]:
# add x and z
x+z

13

In [23]:
# subtract z and y
z-y

-71

In [24]:
# Multiply x and z
x*z

42

In [25]:
# Exponent (raise the power or times) x times z
x**z

117649

In [26]:
# division on x and z
x/z

1.1666666666666667

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [27]:
# floor division(ignores decimal) on x and z (gives quotient)
x//z

1

In [28]:
# Modulo(gives remainder) on x and z
x%z

1

# **`Comparison Operators`**

In [29]:
# comapre and see if x is less then z 
# can use '<' symbol

x<z

False

In [30]:
# check the type of above comaprison where it says comapre and see if x is less then z 
type(x<z)

bool

* `Bool` => takes two values, either `True` or `False`

In [31]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
x<=z

False

In [32]:
# comapre and see if x equall to z
# can use '==' symbol
x==z

False

In [33]:
# comapre and see if x is greater than z
# can use '>' symbol
x>z

True

In [34]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x>=z

True

In [35]:
# comapre and see if x is Not equall to z
# can use '!=' symbol
x!=z

True

# **`Logical Operators`**

In [36]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and 
# equall to => '=='
# logical and => and
108==108 and 21==21
# in and both condition must be True to get a True

True

In [37]:
# how above condition can give False as output show all those conditions
108!=108 and 21==21
108==108 and 21!=21
108==109 and 21==21
108==108 and 21==22

False

In [38]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or
108==108 or 21==11
# in or Only one condition need to be True to get a True

True

In [31]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:` 
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [39]:
# make variable with value as : money 100000
money=100000
# see output of money > 2000 
if money>2000:
    print(money)

100000

In [40]:
# assign money variable value of 10000
##### say you have this much ammount in your account
balance=10000
# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working
if money>1000:
    print('data science course fee')
else:
    print('Low Bank Balance')

data science course fee

In [37]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you

In [41]:
test_score=80

if test_score>80:
    print('A Grade')
elif test_score>60 and test_score<80:
    print('B Grade')
else:
    print('Nothing for you')

Nothing for you

# **`Python Loops`**

In [39]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [40]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [44]:
# print 'I love sports' 10 times using for loop

for x in range(10):
    print('I love sports')

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [42]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [47]:
# while loop

# save 0 in variable number

# print till 10 using while loop
x=0
while x!=11:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [45]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5

In [1]:
for i in range(10):
    if i==5:
        break
    print('The number is ',i)

The number is  0
The number is  1
The number is  2
The number is  3
The number is  4

# **`Continue Statement`**

In [47]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5

In [52]:
for i in range(10):
    if i==5:
        continue
    print('The number is ',i)

The number is  0
The number is  1
The number is  2
The number is  3
The number is  4
The number is  6
The number is  7
The number is  8
The number is  9

# **`String Manipulation`**

In [49]:
string_ = '' or "" or """ """

In [8]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"

string1="We are creating next generation data science eco-system at CollegeRanker"

In [9]:
# Find length of string including spaces
len(string1)

72

In [10]:
# Access characters in a string with indexing i.e string[0]

string1[10]

'a'

In [11]:
# Access characters with negative indexing i.e string[-1]
string1[-2]

'e'

# String Slicing

In [12]:
# select string from first to 6th element i.e string[:6]

string1[:6]

'We are'

In [13]:
# select string from 7th to negative 10th element i.e string[7:-10]
string[7:-10]

'creating next generation data science eco-system at Col'

Count of a particular `character` in a string

In [15]:
string1.count('c')

4

Count of a particular `sub-string` in a string

In [17]:
string1.count('re')

2

Find a substring in string using `find` and `index` function

In [23]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error

string1.find('ew')

-1

In [22]:
string1.index('ew')

ValueError: substring not found

In [26]:
### Checking whether string `startswith` or `endswith` a particular substring or not

string1.startswith('W')

True

In [27]:
string1.endswith('c')

False

In [28]:
### Converting string to upper case ###

string1.upper()

'WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER'

In [31]:
### Converting only first character of string to upper case

string1.capitalize()

'We are creating next generation data science eco-system at collegeranker'

In [32]:
### Checking if string is in lower case or upper case

string1.isupper()

False

In [33]:
string1.islower()

False

In [35]:
### Checking if string is digit, alpabetic, alpha-numeric

string1.isdigit()

False

In [36]:
string1.isalpha()

False

In [37]:
string1.isalnum()

False

In [38]:
# assign "C++ is easy to learn" to a new_str variable

new_str='C++ is easy to learn'

In [40]:
### Replace C++ with Python

new_str.replace('C++','Python')

'Python is easy to learn'

In [41]:
### Use Split function on new_str ###

new_str.split()

['C++', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [76]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [48]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'

def welcome(name):
    print('Welcome to Functions!!! ', name)

In [49]:
# call a function with your name
welcome('Osama')

Welcome to Functions!!!  Osama

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [54]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable 

def add(a,b):
    total=a+b
    return total

result=add(3,4)

print("The sum of 3 and 4 is :", result)

The sum of 3 and 4 is : 7

# ***`Positional Arguments`*** 
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [58]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number

def sub(small_number,large_number):
    difference=large_number-small_number
    return difference

In [59]:
# pass arguments in right order

differ=sub(3,5)
print('Difference between 3 and 5 is: ', differ)

Difference between 3 and 5 is:  2

In [84]:
# always pass arguments using there name(keyword arguments) then order does not matter

In [60]:
def welcome_message(name,welcome="Hello"):
    print(f"{welcome},{name}!")

welcome_message('Osama')

Hello,Osama!

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [86]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [87]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [88]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [89]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function