<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'

a=[]

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [22]:
languages= ['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [23]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [24]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [25]:
temp=languages[1]

print(temp)

Python

Print the value of temp and type(temp)

In [27]:
temp
type(temp)

str

Append the element 'Java' in the list

In [28]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [29]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [30]:
colors=['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [31]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [33]:
colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [34]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [35]:
colors2=['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [36]:
colors.extend(colors2)

Print len of colors and its elements

In [39]:
len(colors)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [42]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [46]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [49]:
words=sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [61]:
words_lower=[i.lower() for i in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [53]:
if 'country' in words_lower:
    print("country exist in list")
else:
    print('country does not exist in list')

country does not exist in list

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [62]:
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [63]:
x4=words_lower[4]

In [64]:
# print x4
print(x4)

world.

Convert the list of elements to single string using join function and print it

In [66]:
join=' '.join(words_lower)
print(join)

coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [1]:
stud_grades=['A','A','B','C','C','F']

Print the len of stud_grades

In [68]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [2]:
stud_grades_set=set(stud_grades)

Print stud_grades_set.

In [70]:
print(stud_grades_set)

{'B', 'A', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [76]:
x=type(stud_grades)
print('Type is ', x, ' and its elements are ', stud_grades)

y=type(stud_grades_set)
print('Type is ', y, ' and its elements are ', stud_grades_set)

Type is  <class 'list'>  and its elements are  ['A', 'A', 'B', 'C', 'C', 'F']
Type is  <class 'set'>  and its elements are  {'B', 'A', 'C', 'F'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [80]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [82]:
stud_grades_set.add('F')
print(stud_grades_set)

{'B', 'C', 'A', 'G', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [83]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [84]:
len(stud_grades_set)

4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [5]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [8]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [10]:
colors_set=set(colors)
print(colors_set)

fruits_set=set(fruits)
print(fruits_set)

{'blue', 'orange', 'red'}
{'grapes', 'orange', 'apples'}

Find the union of both the sets.

In [11]:
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [13]:
colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [14]:
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [16]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [17]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [24]:
temp[0]=11

Set temp1 = tuple(temp)

In [34]:
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [26]:
for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [35]:
list1=list(temp1)
list1[0]=17

temp1=tuple(list1)
print(temp1)

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [46]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [47]:
print(city[0])

Bangalore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [48]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [49]:
cities=city+city2

Print cities

In [50]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [52]:
type(cities[0])

str

print the type of cities

In [53]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [54]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [58]:
print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [59]:
actor=d['actor']

Print the type of actor

In [61]:
type(actor)

str

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [62]:
list=d['list']

Print the type of List.

In [64]:
type(list)

list

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [67]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [68]:
d.update(d1)

print d

In [69]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [71]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [73]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [87]:
for i in d.keys(),d.values():
   print(i)

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])
dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [89]:
def word_count(str):
    counts=dict()
    words=str.split(' ')

    for word in words:
        if word in counts:
          counts[word]+=1
        else:
            counts[word]=1

    return counts

In [91]:
sent="the quick brown fox jump over the lazy dog"
word_count(sent)

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jump': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}